.form{
    position: absolute;
    width: 35%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    padding: 32px;
}

.panel{ 
    text-align: center;
    margin-top:10px;
    background-color: #c4c8cf;
}

.formInput{
    width: 100%;
}

.warning{
    font-size:1em;
    color:red;
    width:400px;
    height:30px;
    margin:10px;
    text-align: center;
}